* {
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
}
p {
  text-indent: 2em;
}

.page {
  min-height: 100vh;
  display: flex;
  background-color: black;
}
.content {
  width: calc(100dvw - 71px);
  text-align: center;
  background-image: url(./assets/images/BraveWallpaper7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  min-width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: solid white 1px;
  position: relative;
  background-color: black;
}

.internet-logo {
  top: 0px;
  position: absolute;
  height: 50px;
  max-width: 100%;
  padding: 10px;
}

.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.cajon-nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.profesion {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.barra {
  font-size: 100px;
  font-weight: 100;
  margin-inline: 20px;
}
.cajon-prof {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cajon-content {
  width: calcl(100vw - 71px);
  text-align: left;
  padding-inline: 200px;
  padding-top: 50px;
}
.cajon-projects {
  padding-inline: 100px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 50px;
  place-items: center;
  margin-bottom: 50px;
}
/* Cada item del grid */
.cajon-projects > div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto flotante */
.cajon-projects > div:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.25),
    0 0 25px rgba(255, 255, 255, 0.2);
}

.section-name {
  font-weight: bold;
  text-decoration: underline;
}

.text-content {
  margin-top: 20px;
  margin-bottom: 30px;
}

.projects {
  height: 300px;
  width: 500px;
  padding: 20px;
  padding-inline: 30px;
  border: solid #5f4c9e 2px;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(95, 76, 158, 0.6);
  text-align: left;
  position: relative;
}
.project-name {
  position: absolute;
  top: 20px;
  font-size: 20px;
}
.project-tech {
  position: absolute;
  bottom: 20px;
  text-indent: 0;
}
.project-description {
  position: absolute;
  top: 70px;
  padding-right: 30px;
}

.logo {
  height: 50px;
  width: 50px;
}
.cajon-carroussel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img {
  width: 1200px;
  height: 675px;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.35),
    0 0 20px rgba(255, 255, 255, 0.25);
}

.btn {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.1s;
  background-color: black;
}

.btn:hover {
  background-color: #6f5cb0;
}

.btn:focus {
  outline-offset: 2px;
  background-color: #5f4c9e;
}

/* Active: mientras el botón está presionado */
.btn:active {
  background-color: rgb(56, 45, 93);
  transform: scale(0.95); /* efecto de “apretado” */
  outline: none; /* por si aún aparece el borde */
}

.left-btn {
  background-image: url("./assets/images/leftArrow-logo.svg");
}

.righ-btn {
  background-image: url("./assets/images/rightArrowlogo.svg");
}

.btn:active {
  outline: none;
  border: none;
}
