* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./assets/images/BraveWallpaper7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  min-height: 100vh;
  display: flex;
}
.content {
  border: solid red 1px;
  width: calc(100dvw - 73px);
}

.nav {
  min-width: 70px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: solid white 1px;
  position: relative;
}

.internet-logo {
  top: 0px;
  position: absolute;
  height: 50px;
  max-width: 100%;
  padding: 10px;
}

.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
